body {
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.flex {
    display: flex;
    flex-direction: row;
}

.main-div {
    margin-left: 30%;
    margin-top: 10%;
}

.flex div {
    margin: 4%;
}

.days-div {
    text-align: center;
}

.hours-div {
    text-align: center;
}

.mins-div {
    text-align: center;
}

.seconds-div {
    text-align: center;
}

.days {
    font-size: 40px;
    color: black;
    font-weight: 600;
}

.hours {
    font-size: 40px;
    color: black;
    font-weight: 600;
}

.mins {
    font-size: 40px;
    color: black;
    font-weight: 600;
}

.seconds {
    font-size: 40px;
    color: black;
    font-weight: 600;
}

.days-div div {
    font-size: 18px;
}

.hours-div div {
    font-size: 18px;
}

.mins-div div {
    font-size: 18px;
}

.seconds-div div {
    font-size: 18px;
}